{% extends 'base.html' %}

{% block content %}

<div class="tag_container">
    <h1>해시태그 목록</h1>
    <hr>
    
    <form action="{% url 'main:find' %}" method="GET">
        <input type="text" name="find" placeholder="검색할 해시태그를 입력하세요!">
        <button type="submit">검색</button>
    </form>
    {% for t in tags %}
    <div class="tag">
        <h2 class="title">#{{t.name}}</h2>
        <ul>
            {% for blog in t.blogs.all %} 
            <li><a href="{% url 'main:detail' blog.id %}">{{blog.title}}</a></li>
            {% endfor %}
            {% for comment in t.comments.all %}
            {% if comment.blog not in t.blogs.all %}
            <li><a href="{% url 'main:detail' comment.blog.id %}">{{comment.blog.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <hr>
    {% endfor %}
</div>

{% endblock %}